# Created by .ignore support plugin (hsz.mobi)
/LingClass/really_new_new.xlsx
/LingClass/my_data.xlsx
/LingClass/kuk.txt
/LingClass/rian.txt
/LingClass/parsing/parsexml.py
/LingClass/out.html
/LingClass/out1.html
/LingClass/dataset.csv
/LingClass/new_rez_new.xlsx
/LingClass/~$new_rez_new_n.xlsx
/LingClass/cathy.py
/LingClass/parser.py
/LingClass/dataset2.txt
/LingClass/clastorize.py
/LingClass/rian_in.txt
/LingClass/dataset.txt
/LingClass/other_test.py
/LingClass/пелевин.txt
/LingClass/qq.xlsx
/LingClass/test.py
/LingClass/writings_bad.txt
/LingClass/lox.txt
/LingClass/Архив.zip
/LingClass/__init__.py
/LingClass/soch.txt
/LingClass/absolutly_new_test.py
/LingClass/10000_naych/
/LingClass/class_new.py
/LingClass/stat_old/
/LingClass/classificate.py
/LingClass/parsing/kommersant_2013.xml
/LingClass/new_rez_new_n.xlsx
/LingClass/10000_hud/
/LingClass/5000_naych/
/LingClass/really_new.xlsx
/LingClass/telluriya.txt
/LingClass/yand_pars/
/LingClass/lems.txt
/LingClass/bad_writings
/LingClass/data.xlsx
/LingClass/clas_surpr.py
/LingClass/rian_short
/LingClass/my_own_test.py
/LingClass/kontrast.txt
/LingClass/dataset1.txt
/LingClass/really_bad.xlsx
/LingClass/new_data
/LingClass/writings.txt
/LingClass/naych.txt
/LingClass/gg
/LingClass/qq.htm
/LingClass/parsing/__init__.py
/LingClass/new_rez.xlsx
/LingClass/5000_hud/
/LingClass/parsing/testPar.py
